<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>1.0</string>
	<key>signIn</key>
	<dict>
		<key>class</key>
		<string>ASSignInViewController</string>
		<key>title</key>
		<string>SignIn</string>
	</dict>
	<key>bookProduct</key>
	<dict>
		<key>class</key>
		<string>ASBookProductViewController</string>
		<key>title</key>
		<string>Select Book Type</string>
	</dict>
	<key>frameProduct</key>
	<dict>
		<key>class</key>
		<string>ASFrameProductViewController</string>
		<key>title</key>
		<string>Select Frame Type</string>
	</dict>
	<key>canvasProduct</key>
	<dict>
		<key>class</key>
		<string>ASCanvasProductViewController</string>
		<key>title</key>
		<string>Select Canvas Type</string>
	</dict>
	<key>prints</key>
	<dict>
		<key>class</key>
		<string>ASPrintsViewController</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>uploadPhotos</key>
	<dict>
		<key>class</key>
		<string>ASUploadPhotosViewController</string>
		<key>title</key>
		<string>Select Photos</string>
	</dict>
	<key>openCart</key>
	<dict>
		<key>class</key>
		<string>ASCartViewController</string>
		<key>title</key>
		<string>Cart</string>
	</dict>
	<key>bookEdit</key>
	<dict>
		<key>class</key>
		<string>ASPhotoEditViewController</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>frameEdit</key>
	<dict>
		<key>class</key>
		<string>ASFrameEditViewController</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>tableTopProduct</key>
	<dict>
		<key>class</key>
		<string>ASTableTopProductViewController</string>
		<key>title</key>
		<string>Select TableTop Type</string>
	</dict>
</dict>
</plist>
