<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>size</key>
	<dict>
		<key>currentIndex</key>
		<integer>5</integer>
		<key>options</key>
		<array>
			<dict>
				<key>optionID</key>
				<string>100</string>
				<key>imageName</key>
				<string>6X6</string>
				<key>name</key>
				<string>6X6</string>
			</dict>
			<dict>
				<key>optionID</key>
				<string>101</string>
				<key>imageName</key>
				<string>8X8</string>
				<key>name</key>
				<string>8X8</string>
			</dict>
			<dict>
				<key>optionID</key>
				<string>102</string>
				<key>imageName</key>
				<string>8X10</string>
				<key>name</key>
				<string>8X10</string>
			</dict>
			<dict>
				<key>optionID</key>
				<string>103</string>
				<key>imageName</key>
				<string>10X10</string>
				<key>name</key>
				<string>10X10</string>
			</dict>
			<dict>
				<key>optionID</key>
				<string>104</string>
				<key>imageName</key>
				<string>12X8</string>
				<key>name</key>
				<string>12X8</string>
			</dict>
			<dict>
				<key>optionID</key>
				<string>105</string>
				<key>imageName</key>
				<string>8X12</string>
				<key>name</key>
				<string>8X12</string>
			</dict>
			<dict>
				<key>optionID</key>
				<string>106</string>
				<key>imageName</key>
				<string>12X12</string>
				<key>name</key>
				<string>12X12</string>
			</dict>
		</array>
	</dict>
	<key>color</key>
	<dict>
		<key>currentIndex</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<dict>
				<key>optionID</key>
				<string>100</string>
				<key>imageName</key>
				<string>White</string>
				<key>name</key>
				<string>White</string>
			</dict>
			<dict>
				<key>optionID</key>
				<string>101</string>
				<key>imageName</key>
				<string>Black</string>
				<key>name</key>
				<string>Black</string>
			</dict>
		</array>
	</dict>
	<key>cover</key>
	<dict>
		<key>currentIndex</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<dict>
				<key>optionID</key>
				<string>100</string>
				<key>imageName</key>
				<string>Square</string>
				<key>name</key>
				<string>Square</string>
			</dict>
			<dict>
				<key>optionID</key>
				<string>101</string>
				<key>imageName</key>
				<string>CC</string>
				<key>name</key>
				<string>CC</string>
			</dict>
		</array>
	</dict>
	<key>option</key>
	<integer>0</integer>
</dict>
</plist>
