<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>web</key>
	<string>http://www.baidu.com</string>
	<key>Navibook</key>
	<string>UINavibook</string>
	<key>frameEdit</key>
	<string>UIFrameEditViewController</string>
	<key>bookEdit</key>
	<string>UIBookEditViewController</string>
	<key>size</key>
	<string>UISizeViewController</string>
	<key>book</key>
	<string>BookViewController</string>
</dict>
</plist>
